<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${titulo}">
	</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<h1 th:text="${titulo}"></h1>
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="POST">
			<div class="form-group  row">
				<label class="col-form-label" for="identificador">ID:</label>
				<div>
					<input id="nombre" type="text" th:field="*{identificador}" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}" class="alert alert-danger"></div>
	</div>
	
	<div class="form-group row">
		<label for="nombre" class="col-form-label">Nombre:</label>
		<div>
			<input  id="nombre" type="text" th:field="*{nombre}" class="form-control">
		</div>
		<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
	</div>
	
	<div class="form-group  row">
		<label for="apellido" class="col-form-label">Apellido:</label>
		<div>
			<input  id="apellido" type="text" th:field="*{apellido}" class="form-control">
		</div>
		<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="alert alert-danger"></div>
	</div>
	
	
	<div class="form-group  row">
		<label for="username" class="col-form-label">Username:</label>
		<div>
			<input  id="username" type="text" th:field="*{username}" class="form-control">
		</div>
		<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></div>
	</div>
	
	<div class="form-group  row">
		<label for="password" class="col-form-label">Password:</label>
		<div>
			<input id="password" type="password" th:field="*{password}" class="form-control">
		</div>
		<!--	<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div> Forma antigua para errores-->
		<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></div>
	</div>
	
	<div class="form-group  row">
		<label for="email" class="col-form-label">E-mail:</label>
		<div>
			<input id="email" type="text" th:field="*{email}" class="form-control" >
		</div>
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
	</div>
	 
		<div class="form-group  row">
		<label for="cuenta" class="col-form-label">Cuenta:</label>
		<div>
			<input id="cuenta" type="number" th:field="*{cuenta}" class="form-control">
		</div>
		<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" class="alert alert-danger"></div>
	</div>
	
		<div class="form-group  row">
		<label for="fechaNacimiento" class="col-form-label">Fecha Nacimiento:</label>
		<div>
			<input id="fechaNacimiento" type="date" placeholder="yyyy/mm/dd" th:field="*{fechaNacimiento}" class="form-control">
		</div>
		<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
	</div>
	
	<div class="form-group  row">
		<label for="pais" class="col-form-label">País:</label>
		<div>
			<select id="pais"  th:field="*{pais}" class="form-control">
			<option value="">---Seleccione una opción</option>
			<option th:each="pais: ${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}"></option>
			</select>
		</div>
		<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
	</div>
	
		<div class="form-group  row">
		<label for="cargo" class="col-form-label">Cargo:</label>
		<div>
			<select id="cargo"  th:field="*{cargo}" class="form-control">
			<option value="">---Seleccione una opción</option>
			<option th:each="cargo: ${cargos}" th:text="${cargo.nombre}" th:value="${cargo.id}"></option>
			</select>
		</div>
		<div th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}" class="alert alert-danger"></div>
	</div>
	
	
		<div class="form-group  row" >
			<label class="col-form-label">Roles:</label>
			<div th:each="role: ${listaRolesMap}" th:value="${role}">
				
				<input  type="checkbox" th:field="*{roles}" th:value="${role.id}" class="form-check-input">
				<label  class="form-check-label" th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
	</div>
	
	<div class="form-group  row">
			<label class="col-form-label">Intereses:</label>
			<div th:each="inte: ${interesesMap.entrySet()}">
				
				<input  class="form-check-input" type="checkbox" th:field="*{intereses}" th:value="${inte.key}" >
				<label class="form-check-label" th:for="${#ids.prev('intereses')}" th:text="${inte.value}"></label>
		
			</div>	
			
			<div th:if="${#fields.hasErrors('intereses')}" th:errors="*{intereses}" class="alert alert-danger"></div>	
	</div>
		
	<div class="form-group  row">
			<label class="col-form-label">Genero: </label>
			<div th:each="gen: ${genero}">
				
				<input class="form-check-input" type="radio" th:field="*{genero}" th:value="${gen}"> 
				<label class="form-check-label" th:for="${#ids.prev('genero')}" th:text="${gen}"></label><br>
			
			</div>
			<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
	</div>
	
	
	<div class="form-group  row">
			<label class="form-check-label col-form-label h1" for="habilitar" >Habilitar:</label>
			<div class="form-check form-switch">
				<input class="form-check-input" id="habilitar" type="checkbox" th:field="*{habilitar}" >
			</div>
	</div>
	
	<div class="form-group row">
		<div>
			<input  type="submit" value="Enviar" class="btn btn-primary">
		</div>
	</div>
	
	<input type="hidden" th:field="*{valorSecreto}">
	</form>
	</div>

	
</body>

</html>