<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${titulo}">
	</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="alert alert-success">
<span th:text="'Tiempo Transcurrido: '+${tiempoTranscurrido} + ' en milisegundos'"></span>
</div>

<div class="container">
<a th:href="@{/form}" class="btn btn-success my-3">Volver</a>
<ul class="list-group my-3">
<li th:text="${titulo}" class="list-group-item active"></li>
<li th:text="${usuario.nombre}" class="list-group-item"></li>
<li th:text="${usuario.apellido}" class="list-group-item"></li>
<li th:text="${usuario.username}" class="list-group-item"></li>
<li th:text="${usuario.password}" class="list-group-item"></li>
<li th:text="${usuario.email}" class="list-group-item"></li>
<li th:text="${usuario.identificador}" class="list-group-item"></li>
<li th:text="${usuario.cuenta}" class="list-group-item"></li>
<li th:text="${#dates.format(usuario.fechaNacimiento,'dd-MMM-yyyy')}" class="list-group-item"></li>
<li th:text="${usuario.pais}" class="list-group-item"></li>
<li th:text="${usuario.cargo.id}" class="list-group-item"></li>
<li th:text="${usuario.cargo.codigo}" class="list-group-item"></li>
<li th:text="${usuario.cargo.nombre}" class="list-group-item"></li>
<li th:text="'Habilitado: '+${usuario.habilitar}" class="list-group-item"></li>
<li th:text="'Genero: '+${usuario.genero}" class="list-group-item"></li>
<li th:text="'Valor Secreto: '+${usuario.valorSecreto}" class="list-group-item"></li>

</ul>
<ul  class="list-group my-3">
<li th:text="'Roles'" class="list-group-item active"></li>
<li th:each="role: ${usuario.roles}" th:text="${role.id} + ' - ' + ${role.nombre} + ' - ' +${role.role}" class="list-group-item"></li>
</ul>

<ul class="list-group my-3">
<li th:text="'Intereses'" class="list-group-item active"></li>
<li th:each="inte: ${usuario.intereses}" th:text="${inte}" class="list-group-item"></li>
</ul>
<a th:href="@{/form}" class="btn btn-success my-3">Volver</a>
</div>
</body>

</html>